.books{
  padding: 50px 0 150px 0;;
}
.swiper{
  width: 100%;
}

html,body{
    background-image: url("../assets/Hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;

}

span:hover{
  cursor: pointer;

}

button{
  animation:  var(--transition-delay) pulse infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  .books{
      padding: 30px;
  }
  
}

